

body{
  /*height:100%;*/
  /*width: 100%;*/
  height:auto;
  width: auto;
  margin: auto;
  border: blue 1px solid;
}

#wrapper{
  /*height: auto;*/
  /*height: 600px*/
  /*width: 100%;*/
}
header{
  height: 35px;
  border: green 1px solid;
}
button{
  width:200px;
  height: 40px;
  border: orange 1px solid;
  position: relative;
  left: 120px;
  margin:2% 0;
  /*top: 20px;*/
}
section{
  border: blue 1px solid;
  /*height: 200px;*/
  display: flex;
  flex-wrap: wrap;
  /*margin: auto;*/
  justify-content: center;
  /*justify-content: space-around;*/
}
.box{
  border: orange 1px solid;
  height: 200px;
  width: 200px;
  margin: 3%;
}
